<div class="content-wrapper">

  <section class="content-header">
    <h1>Tipos de Instituição</h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active">Tipos de Instituição</li>
    </ol>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Cadastro</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <!-- box-body -->
          <div class="box-body">
            <div class="form-group">
              <label for="description">Descrição</label>
              <input type="text" class="form-control" id="description" required>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </form>
        <!-- /.form end -->
      </div>
    </div>
  </section>

</div>
