<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px;">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="description">Descrição</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Descrição"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && hasError('description') }"
      >
      <div class="invalid-feedback" *ngIf="hasError('description') && hasError('description')['required']">
        Por favor informe uma descrição.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('description') && hasError('description')['minlength']">
        Descrição precisa ter no mínimo {{ hasError('description')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('description') && hasError('descricao')['maxlength']">
        Descrição precisa ter no máximo {{ hasError('description')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
